force-app/main/default/flows/Email_Service_Message_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Alert</name>
        <label>Email Alert</label>
        <locationX>314</locationX>
        <locationY>1583</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Email_Service</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>csvRecordCount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mark.ledden@peninsula-uk.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Flow Output</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Parse_CSV_Attachment</name>
        <label>Parse CSV Attachment</label>
        <locationX>490</locationX>
        <locationY>695</locationY>
        <actionName>ConvertCSVToCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_to_Master</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>csvFile</name>
            <value>
                <elementReference>Convert_Attachments</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>convertedCSVRecords</assignToReference>
            <name>csvRecordList</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Count</name>
        <label>Count</label>
        <locationX>402</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>csvRecordCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Master_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PLACEHOLDER_Subflow_CourtServe</name>
        <label>PLACEHOLDER Subflow CourtServe</label>
        <locationX>314</locationX>
        <locationY>1823</locationY>
        <assignmentItems>
            <assignToReference>CSV_Attachments</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>PLACEHOLDER_Subflow_Gecko</name>
        <label>PLACEHOLDER Subflow Gecko</label>
        <locationX>50</locationX>
        <locationY>1823</locationY>
        <assignmentItems>
            <assignToReference>CSV_Attachments</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Record_to_Master_Collection</name>
        <label>Record to Master Collection</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>masterCSVRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_to_Master</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Master</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Attachments</name>
        <label>Attachments</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>None Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CSV_Attachments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Attachments</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Service</name>
        <label>Email Service</label>
        <locationX>314</locationX>
        <locationY>1703</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Gecko</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gecko</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PLACEHOLDER_Subflow_Gecko</targetReference>
            </connector>
            <label>Gecko</label>
        </rules>
        <rules>
            <name>CourtServe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CourtServe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PLACEHOLDER_Subflow_CourtServe</targetReference>
            </connector>
            <label>CourtServe</label>
        </rules>
    </decisions>
    <interviewLabel>Email Service Message - Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Service Message - Trigger</label>
    <loops>
        <name>Add_to_Master</name>
        <label>Add to Master</label>
        <locationX>490</locationX>
        <locationY>815</locationY>
        <collectionReference>masterCSVRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Record_to_Master_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Convert_Attachments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Convert_Attachments</name>
        <label>Convert Attachments</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <collectionReference>CSV_Attachments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Parse_CSV_Attachment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Master_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Master_Collection</name>
        <label>Master Collection</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <collectionReference>masterCSVRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Email_Alert</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CSV_Attachments</name>
        <label>CSV Attachments</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Attachments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EndsWith</operator>
            <value>
                <stringValue>.csv</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Attachment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CSV_Attachments</targetReference>
        </connector>
        <object>Email_Service_Message__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>convertedCSVRecords</name>
        <apexClass>CSVDataObject</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>csvRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>masterCSVRecords</name>
        <apexClass>CSVDataObject</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
