force-app/main/default/flows/Inbound_Tribunal_Email_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Parse_CSV</name>
        <label>Parse CSV</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>ConvertCSVToCollection</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>csvFile</name>
            <value>
                <elementReference>CSV_Attachments</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>csvRecords</assignToReference>
            <name>csvRecordList</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <interviewLabel>Inbound Tribunal Email Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inbound Tribunal Email Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CSV_Attachments</name>
        <label>CSV Attachments</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parse_CSV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EndsWith</operator>
            <value>
                <stringValue>.csv</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Attachment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CSV_Attachments</targetReference>
        </connector>
        <object>Email_Service_Message__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>csvRecords</name>
        <apexClass>CSVDataObject</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
